<h2>Search results</h2>
<h4>Total number of items returned: <%=@total_hits%></h4>

<% @foods.each do |food| %>
  <div class="food">
    <p>Description: <%= food.description %></p>
    <p>GTIN/UPC: <%= food.gtin_upc %></p>
    <p>Brand Owner: <%= food.brand_owner %></p>
    <p>Ingredients: <%= food.ingredients %></p>
  </div>
<% end %>