<h2>Search results</h2>
<h4>Total number of items returned: <%=@total_hits%></h4>

<% @foods.each do |food| %>
  <div class="food">
    <p><%= food.description %></p>
    <p><%= food.gtin_upc %></p>
    <p><%= food.brand_owner %></p>
    <p><%= food.ingredients %></p>
  </div>
<% end %>